<form autocomplete="off" style="display: inline-block;" onsubmit="EngagedNation.Callback.InstantRewardUserForm(event, this);">
    <input type="hidden" name="action" value="sendKiosk"/>
    <input type="hidden" name="pendingMessage" value="Sending to kiosk, please wait..."/>
    <input type="submit" class="enPortal-btn btn btn-primary modal-button-style" value="Kiosk"/>
</form>
