<input type="button" id="printButtonMargin" class="enPortal-btn btn btn-primary btn-print-reward modal-button-style" data-click-id="{{ userVoucher.id }}" data-vid="{{ voucher.id }}" value="Print"/>
<div style="display: none;">
    {{ include('FrontEnd/Resources/views/embed/fzone/contents/tabJs/redeem-print.html.twig') }}
</div>
<div class="form-spacer"></div>
