{#
<table align="center" cellpadding="5px" cellspacing="0">
    <tr>
        <td>
            <p style="text-align: center; font-size: 0.75em;"><strong>Please, do not reply to this email.</strong></p>
            <p style="text-align: center; font-size: 0.75em;">M life supports responsible gaming. 1-800-522-4700.</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p style="font-size: 0.75em;">
                <a href="{{ 'emailConfirmation.footer.companywebsite'|trans({}, 'frontend') }}" target="_blank"><strong>M life</strong></a><br/>
                {{ 'emailConfirmation.footer.companyadress'|trans({}, 'frontend') }}<br />
                855-788-6775
            </p>
        </td>
    </tr>
</table>
#}