<div class="loginForm col-md-12">
    <div id="account" class="logged-out-account pre">
        <div class="loggedout-form-header-logo">
            <img class="img-responsive" src="{{ global_en_config.environment.s3_uploads_url ~ '/images/logout/Treasure_Chest-PHP-10653.png' }}" />
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="h1-headline">MAY 24 - AUGUST 14</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="body-p shortWidth">
                    Welcome to Rampart Casino’s new, free online rewards program, <em>Rampart Riches</em>.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="body-p shortWidth">
                    Beginning May 24, <em>Rampart Riches</em> will give you more ways than ever to win big!
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="body-p">
                    <div><strong>100% Free Online Games</strong></div>
                    <div><strong>Instant Prizes Emailed to You</strong></div>
                    <div><strong>Level-Up Prizes for Online Gameplay</strong></div>
                    <div><strong>$25,000 Grand Prize Drawing</strong></div>
                    <div><strong>And More!</strong></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="body-p checkEmailCopy noMargin">
                    Check your email on May 24 for your invitation and first instant prize!
                </div>
                <div class="body-p largeWidth smallFont noMargin">
                    You must have a unique email address associated with your Rampart Rewards Club account to
                    participate, so be sure to visit the Rampart Rewards Player’s Club to update your contact
                    information before May 24.
                </div>
            </div>
        </div>

        <div class="row goCenter">
            <div class="col-md-12">
                <div>
                    <img class="img-responsive inlineBlock ramPalmLogo" src="{{ global_en_config.environment.s3_uploads_url ~ '/images/logout/rampart-logo-palm-large.png' }}" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="body-p smallFont">
                    221 North Rampart Boulevard | Las Vegas, 89145 | 702-507-5900 | <a href="https://theresortatsummerlin.com/contact-us/" target="_blank">Contact Us</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="body-p largeWidth tinyFont">
                    ©2019 Rampart Casino at The Resort at Summerlin. All rights reserved. Marriott and the JW Marriott
                    system are not associated with any part of The Resort at Summerlin (the “Resort”) other than the JW
                    Marriott Las Vegas hotel (the “Hotel”) at the Resort. The Casino is not part of the Hotel and is not
                    part of the JW Marriott system.
                </div>
            </div>
        </div>

        <div class="clearBoth"></div>
    </div>
</div>
<script>
    EngagedNation.RequireJS.require(
        ["jquery_1_10"],
        function($)
        {
            $(function () {
                $('body').css('padding-bottom', 0);
                $('.rowBelowHeaderTheme').css('margin-top', 0);
                $('.takeover .container.main-container').css('padding-top', '30px');
            })
        }
    )
</script>